@use '../../../styles/global.scss' as *;

.WorkProcess {
	padding: 80px 0;

	.upTitle {
		display: inline-block;
		padding: 12px;
		border-radius: 30px;
		background: rgba(255, 255, 255, 0.1);
		margin: 0 0 10px 0;
		font-family: $manrope;
		font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		color: $white;
	}

	.titleWrapper {
		display: flex;
		flex-direction: column;
	}

	.titleInner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.titleLine {
		flex-shrink: 1;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		height: 10px;
		border-radius: 30px;
		background: rgba(255, 255, 255, 0.6);
	}

	.title {
		flex-shrink: 0;
	}

	.subtitle {
		margin-bottom: 80px;
		font-family: $benzin;
		font-weight: 400;
		font-size: 24px;
		letter-spacing: 0.02em;
		text-align: right;
		color: $white;
	}
	.list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: left;
	}

	.item {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		gap: 20px;
	}

	.inner {
		display: flex;
		align-items: baseline;
		gap: 65px;
	}

	.step {
		font-family: $manrope;
		font-weight: 500;
		font-size: 18px;
		line-height: 156%;
		letter-spacing: -0.03em;
		color: rgba($white, 0.8);
		flex-shrink: 0;
	}

	.stepContent {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.stepTitle {
		font-family: $benzin;
		font-weight: 500;
		font-size: 21px;
		line-height: 133%;
		letter-spacing: -0.03em;
		color: $white;
	}

	.stepText {
		font-family: $manrope;
		font-weight: 500;
		font-size: 18px;
		line-height: 156%;
		letter-spacing: -0.03em;
		color: $white;
	}

	.arrow {
		width: 35px;
		height: 20px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.stepTime {
		font-family: $manrope;
		font-weight: 500;
		font-size: 18px;
		line-height: 156%;
		letter-spacing: -0.03em;
		color: $orange;
		flex-shrink: 0;
	}

	.btn {
		display: block;
		margin: 80px auto 0;
		padding: 10px 20px;
		border-radius: 30px;
		font-family: $manrope;
		font-weight: 500;
		font-size: 18px;
		color: $gray;
		background-color: $orange;
	}
}

@media (max-width: 991px) {
	.WorkProcess {
		.subtitle {
			font-size: 20px;
		}

		.inner {
			gap: 30px;
		}

		.stepTitle {
			font-size: 18px;
		}
	}
}

@media (max-width: 500px) {
	.WorkProcess {
		text-align: center;

		.step,
		.stepTime {
			font-size: 18px;
		}

		.titleLine {
			display: none;
		}

		.titleInner {
			justify-content: center;
		}

		.title {
			margin-bottom: 10px;
		}

		.subtitle {
			text-align: center;
			margin: 0 0 40px 0;
		}

		.stepTitle {
			font-size: 16px;
		}

		.text {
			font-size: 16px;
		}

		.btn {
			margin: 40px auto 0;
		}
	}
}
